.blockcards-section {
  background-color: #151515;
  padding: 50px 0;
}

.blockcard {
  border-radius: 15px;
  overflow: hidden;
  background: #111;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.blockcard-img img {
  width: 100%;
  height: 280px;
  object-fit: fill;
  display: block;
  border-radius: 15px 15px 0 0;
}

.blockcard-text {
  background: #1e1e1e;
  color: #fff;
  padding: 20px;
  text-align: left;
  border-radius: 0 0 15px 15px;
  font-size: 22px;
  font-weight: 600;
  min-height: 180px;
  position: relative;
  transition: transform 0.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.blockcard:hover .blockcard-text {
  transform: translateY(-20px);
}

.block-learn-btn {
  background: #fa812f;
  text-decoration: none;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.blockcard:hover .block-learn-btn {
  opacity: 1;
  transform: translateY(0);
}

.block-learn-btn:hover {
  background: linear-gradient(90deg, #fab411, #fa812f) !important;
  color: #fff;
}

/* ✅ Cards left side se align hon */
.blockcards-section .row {
  justify-content: flex-start !important;
}
