.glass-navbar {
  background: #f5f5f56f !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-weight: 700;
  font-size: 14px;
  z-index: 1000;
}

.logo-hover img {
  transition: transform 0.5s ease;
  margin-left: 70px;
}

.logo-hover:hover img {
  transform: scale(1.1);
}

.nav-link {
  margin: 0 20px 0 0;
  color: white !important;
}

.nav-link:hover {
  color: #FF7E30 !important;
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.collapse .btn {
  border-radius: 60px;
  background-color: #FF7E30 !important;
  height: 48px;
  font-size: 16px;
  width: 150px;
  color: white;
  font-weight: 700;
  border: 1px solid #FF7E30;
  padding: 10px 30px;
  margin: 10px 0;
}

.collapse .btn:hover {
  background: linear-gradient(90deg, #FFD95A, #FF7E30) !important;
  background-clip: text;
  color: transparent;
}

.collapse .btn:focus,
.collapse .btn:active {
  background-color: #FF7E30 !important;
  border: 1px solid #FF7E30 !important;
  color: white !important;
  box-shadow: none !important;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #fff;
  z-index: 2000;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-open {
  left: 0;
}

.btn-close-overlay {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.overlay-content {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.overlay-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.overlay-logo {
  width: 150px;
  margin-bottom: 20px;
}

.overlay-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overlay-right a {
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  color: #d3d3d3;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .overlay-content {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .overlay-left,
  .overlay-right {
    align-items: center;
  }
}
