/* .contact-form {
  background: #1b1b1b;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #333;
  color: #fff;
  margin-top: 90px;
  margin-right: 20px;
}

.contact-form h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.contact-form p {
  color: #828282;
  margin-bottom: 20px;
}

.contact-form label {
  font-size: 14px;
  color: #ffffff;
}

.contact-form span {
  color: #fab411;
}

.contact-form input,
.contact-form textarea {
  background: #242424;
  border: 1px solid #333;
  color: #ffffff;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: rgb(93, 188, 93) !important;
  outline: none !important;
  box-shadow: none !important;
  color: #ffffff;
  background-color: #1b1b1b;
}

.contact-form input:focus::placeholder,
.contact-form textarea:focus::placeholder {
  color: rgb(255, 255, 255) !important;
}

.btn-custom {
  background-color: #fab411 !important;
  border: none !important;
  color: black !important;
  font-family: Figtree, sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 14px !important;
  margin-bottom: 120px !important;
}

.btn-success:hover {
  background-color: #fab411 !important;
  color: black !important;
  border: none !important;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 20px;
    margin-top: 50px;
    margin-right: 10px;
  }

  .contact-form h2 {
    font-size: 24px;
  }

  .contact-form p {
    font-size: 14px;
  }

  .contact-form label {
    font-size: 12px;
  }

  .btn-custom {
    font-size: 12px;
    margin-bottom: 80px;
  }
}

@media (max-width: 480px) {
  .contact-form {
    padding: 15px;
    margin-top: 30px;
    margin-right: 5px;
  }

  .contact-form h2 {
    font-size: 20px;
  }

  .contact-form p {
    font-size: 12px;
  }

  .contact-form label {
    font-size: 11px;
  }

  .btn-custom {
    font-size: 11px;
    margin-bottom: 50px;
  }
} */
