.map-section {
  position: relative;
  width: 100%;
  height: 82vh;
}

.map-section iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 0;
  filter: grayscale(100%);
  cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default;
  touch-action: pan-x pan-y;
  transition: filter 0.8s ease-in-out;
}

.map-section iframe:hover {
  filter: grayscale(0%);
}
